.content {
    width: 100%;
    min-height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 0.4s ease-in;
    z-index: 0;
    background-color: $bordo;
    padding: 45vh 1.5rem 1.5rem;
    @include flex-setting(column, flex-start, center);

    &.passed {
        padding-top: 2.5rem;
        transition: 0.3s ease-in;

        .content__title {
            transform: translateY(-20px);
            opacity: 0;
            transition: opacity 0.3s ease-in, transform 0.3s ease-in;
            pointer-events: none;

            &.invisible {
                display: none;
            }
        }

        .content__description {
            transform: translateY(-40px);
            opacity: 0;
            transition: opacity 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s;
            pointer-events: none;

            &.invisible {
                display: none;
            }
        }

        .content__btn {
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease-in;
        }

        .content__note {
            transform: translateY(-40px);
            opacity: 0;
            transition: opacity 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s;
            pointer-events: none;
        }
    }

    &.passed.invisible {
        padding: 0;
        max-height: 0;
        min-height: 0;
    }

    &__title {
        @include font-setting($primary-font, 1.375rem, 1.75rem, 500, $white);
        margin-bottom: 1.25rem;
        text-align: center;

        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -1rem;

            content: '30%';
            @include flex-setting(column, center, center);
            @include font-setting($primary-font, 0.75rem, 1, 500, $white);
            width: 36px;
            height: 36px;

            border-radius: 18px;
            background-color: $light-bordo;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
        }
    }

    &__description {
        @include font-setting($primary-font, 1rem, 1.25rem, 400, rgba(255, 255, 255, 0.7));
        text-align: center;
        margin-bottom: 2vh;

        &:last-of-type {
            margin-bottom: 4vh;
        }
    }

    &__btn {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.9375rem, 1.1875rem, 500, $white);
        padding: 0.875rem 4.5rem;
        background-color: $light-bordo;
        border: none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-in;
        outline: none;

        &:active,
        &:hover {
            background-color: $white;
            transition: 0.3s ease-in;
            color: $bordo;
        }
    }

    &__note {
        @include font-setting($primary-font, 0.625rem, 1.222, 300, rgba(255, 255, 255, 0.6));
        text-align: center;
        margin-top: auto;
        margin-bottom: 0;
    }
}

@media only screen and (orientation: landscape) {
    .content {
        padding: 45vh 1.25rem 0.5rem;

        &.passed {
            padding-top: 1.25rem;

            .content__title {
                transform: translateY(-20px);
                opacity: 0;
                transition: opacity 0.3s ease-in, transform 0.3s ease-in;
                pointer-events: none;

                &.invisible {
                    display: none;
                }
            }

            .content__description {
                transform: translateY(-40px);
                opacity: 0;
                transition: opacity 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s;
                pointer-events: none;

                &.invisible {
                    display: none;
                }
            }

            .content__btn {
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in;
            }

            .content__note {
                transform: translateY(-40px);
                opacity: 0;
                transition: opacity 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s;
                pointer-events: none;
            }
        }

        &.passed.invisible {
            padding: 0;
            max-height: 0;
            min-height: 0;
        }

        &__title {
            font-size: 1.375rem;
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }

        &__description {
            font-size: 0.875rem;
            line-height: 1.125rem;
            margin-bottom: 3vh;
            max-width: 70%;

            &:last-of-type {
                margin-bottom: 3vh;
            }
        }

        &__note {
            max-width: 75%;
        }
    }
}
