.content {
    width: 100%;
    height: 100vh;
    z-index: 0;

    background-color: $bordo;

    padding: 70% 2.25rem 2.5rem 2.25rem;

    @include flex-setting(column, flex-start, center);

    &.passed {
        padding-top: 2.5rem;
        transition: 0.3s ease-in;

        .content__title {
            transform: translateY(-20px);
            opacity: 0;

            transition: opacity 0.3s ease-in, transform 0.3s ease-in;
            pointer-events: none;

            &.invisible {
                display: none;
            }
        }

        .content__description {
            transform: translateY(-40px);
            opacity: 0;

            transition: opacity 0.3s ease-in 0.2s, transform 0.3s ease-in 0.2s;
            pointer-events: none;

            &.invisible {
                display: none;
            }
        }

        .content__btn {
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease-in;
        }
    }

    &.passed.invisible {
        padding: 0;
        max-height: 0;
    }

    &__title {
        @include font-setting($primary-font, 1.75rem, 2.25rem, 500, $white);
        margin-bottom: 1.875rem;
    }

    &__description {
        @include font-setting($primary-font, 1rem, 1.25rem, 400, $white);
        text-align: center;

        margin-bottom: 2rem;
    }

    &__btn {
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, 0.9375rem, 1.1875rem, 500, $white);
        padding: 0.875rem 4.5rem;
        background-color: $light-bordo;
        border: none;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-in;
        outline: none;

        &:hover,
        &:active {
            background-color: $white;
            transition: 0.3s ease-in;
            color: $bordo;
        }
    }
}
