.event {
    width: 100%;
    height: 100vh;
    max-height: 0;
    @include flex-setting(column, flex-start, center);
    background-color: $bordo;

    position: relative;
    overflow-x: hidden;

    &__title {
        @include font-setting($primary-font, 1.375rem, 1.5rem, 500, $white);
        text-align: center;
        max-width: 80%;
        margin-bottom: 1.25rem;
        opacity: 0;
        transform: translateX(-20px);
        transition: 0.4s ease-in 0.5s;
    }

    &.visible {
        max-height: 100vh;
        padding: 2.125rem 1.25rem 2.125rem 1.25rem;
        transition: all 0.4s ease-in;

        .event__title {
            transform: translateX(0);
            opacity: 1;
            transition: 0.4s ease-in 0.8s;
        }

        .event__form {
            transform: translateX(0);
            transition: 0.6s ease-in-out 1s;
        }
    }

    &.visible.passed {
        background-color: $white;
        transition: 0.4s ease-in-out 0.4s;

        .event__title {
            transform: translateX(-120%);
            opacity: 0;
            transition: 0.4s ease-in-out;
        }

        .event__form {
            transform: translateX(120%);
            transition: 0.4s ease-in-out;
        }
    }

    &.visible.passed.invisible {
        padding: 0;
        max-height: 0;
    }

    &__form {
        transform: translateX(120%);
    }
}
