.event {
    width: 100%;
    height: 100vh;

    @include flex-setting(column, flex-start, center);
    background-color: $bordo;

    padding: 2.125rem 1.25rem 2.125rem 1.25rem;

    position: relative;
    overflow-x: hidden;

    &__title {
        @include font-setting($primary-font, 1.375rem, 1.5rem, 500, $white);
        text-align: center;
        max-width: 80%;
        margin-bottom: 1.25rem;
    }
}
