.event {
    width: 100%;
    min-height: 0;
    height: -webkit-fill-available;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 0;
    @include flex-setting(column, flex-start, center);
    background-color: $bordo;

    position: relative;
    overflow-x: hidden;

    &__title {
        @include font-setting($primary-font, 1.375rem, 1.5rem, 500, $white);
        text-align: center;
        max-width: 80%;
        margin-bottom: 1.25rem;
        opacity: 0;
        transform: translateX(-20px);
        transition: 0.4s ease-in 0.5s;
    }

    &.visible {
        min-height: 100%;
        height: -webkit-fill-available;
        max-height: 100%;
        height: calc(var(--vh, 1vh) * 100);
        padding: 2.125rem 1.25rem 2.125rem 1.25rem;
        transition: all 0.4s ease-in;

        .event__title {
            transform: translateX(0);
            opacity: 1;
            transition: 0.4s ease-in 0.8s;
        }

        .event__form {
            transform: translateX(0);
            transition: 0.6s ease-in-out 1s;
        }
    }

    &.visible.passed {
        background-color: $white;
        transition: 0.4s ease-in-out 0.4s;

        .event__title {
            transform: translateX(-120%);
            opacity: 0;
            transition: 0.4s ease-in-out;
        }

        .event__form {
            transform: translateX(120%);
            transition: 0.4s ease-in-out;
        }
    }

    &.visible.passed.invisible {
        padding: 0;
        max-height: 0;
        min-height: 0;
    }

    &__form {
        transform: translateX(120%);
    }
}

@media only screen and (orientation: landscape) {
    .event {
        &__title {
            font-size: 1.25rem;
            line-height: 1.375rem;
            max-width: 80%;
            margin-bottom: 1rem;
        }

        &.visible {
            padding: 1.25rem 1.25rem 1.25rem 1.25rem;

            .event__form {
                transform: translateX(10%);
                transition: 0.6s ease-in-out 1s;
            }
        }
    }
}

@media only screen and (orientation: landscape) and (min-width: 800px) {
    .event {
        &__title {
            font-size: 1.25rem;
            line-height: 1.375rem;
            max-width: 80%;
            margin-bottom: 1rem;
        }

        &.visible {
            .event__form {
                transform: translateX(15%);
                transition: 0.6s ease-in-out 1s;
            }
        }
    }
}
