include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body
		include ../modules/header/header
		main.main
			section.content
				h1.content__title Ваш статус в программе лояльности - «GOLD»
				p.content__description Финишируй первым и получи приз! 
				p.content__description Оформите ваш заказ до 1 ноября: первым 100 клиентам мы подарим набор легендарных бокалов Spiegelau. 
				button(type="button").content__btn.js-activate Активировать статус
				span.content__note Предложение действует только для частных клиентов SimpleWine Privé при заказе на сумму от 50 000 рублей при оформлении первого заказа в SimpleWine Privé до 1 ноября.
			section.event
				h2.event__title Пожалуйста, укажите Ваш телефон
				form(method="post" action="#").event__form.form
					.form__wrapper
						.form__board
							ul.form__list
								li.form__item
									label(for="name").form__label Фамилия и имя:
									input(type="text" name="name" id="name" placeholder="Фамилия и имя" required).form__input
									span.form__sign
								li.form__item
									label(for="tel").form__label Номер телефона:
									input(type="tel" name="tel" id="tel" placeholder="+71234567890" required).form__input
									span.form__sign
								li.form__item.logo
									img(src="static/images/content/swp-logo.svg" alt="SimpleWine Prive").form__logo
						.form__agree
							input(type="checkbox" name="policy" id="policy" required).form__agree-input
							label(for="policy").form__agree-label Я согласен с&nbsp;
								a(href="#" target="_blank").form__agree-link правилами обработки 
								| персональных данных
							span.form__agree-error Необходимо отметить все поля
					button(type="submit").form__btn.js-submit Отправить
		include ../modules/footer/footer
		script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
