include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body.body
		include ../modules/header/header
			main.main
				section.content
					h1.content__title
					p.content__description
					button(type="button").content__btn.js-activate Активировать
				section.event
					h2.event__title Пожалуства, укажите Ваш телефон
					form(method="post" action="#").event__form.form
						.form__wrapper
							ul.form__list
								li.form__item
									label(for="name").form__label Фамилия и имя:
									input(type="text" name="name" id="name" placeholder="Фамилия и имя").form__input
									span.form__sign.correct.active
								li.form__item
									label(for="tel").form__label Номер телефона:
									input(type="tel" name="tel" id="tel" placeholder="+71234567890").form__input
									span.form__sign.error
							.form__agree
								input(type="checkbox" name="policy" id="policy").form__agree-label
								label(for="policy").form__agree-label Я согласен с&nbsp;
									a(href="#" target="_blank").form__agree-link обработкой персональных данных
								span.form__agree-error Необходимо отметить все поля
							img(src="static/images/content/swp-logo.svg" alt="SimpleWine Prive").form__logo
						button(type="submit").form__btn.js-submit Отправить
		include ../modules/footer/footer
		script(src="static/js/vendor/jquery-3.3.1.min.js")
		script(src="static/js/main.js")
		block script
